html, body {
    height: 100%;
    overflow: hidden
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    cursor: default;
}

.select-ele {
    border: 1px solid red;
}

.property-item-active{
    background: #333333;
    color: white;
}